body{
background-color: slategray;
display: flex;
flex-direction: row;
justify-content: space-around;
}
h5{
    margin-bottom: 0px;
}
.inp{
    border-radius: 20px;
    padding: 5px;
    border: solid;
}
button:hover{
    background-color: black;
    color: white;
}
button{
    border-radius: 20px;
    padding: 5px;
    border: solid;
    display: block;
}