body{
    margin: 0px;
    color: white;
    background-color: #0d0e0e;  
}
#main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100vh;
}
#main > div{
    border-left: solid #389941 1px;
    border-right: solid #389941 1px;
    height: 100%;
}
#mid{
    background-color: black;
}
.side{
    background-color: #1d1e1e;
    display: flex;
    flex-direction: column;
}
.side > a, .side > div{
    color: white;
    text-decoration: none;
    border-bottom: solid #389941 1px;
    width: 100%;
    height: 3vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.side > div:hover{
    background-color: #3b3b3a;
}
.side img{
    height: 3vh;
}
#topM{
    border-bottom: solid  #389941 2px;
    font-family: "Press Start 2P";
    font-size: 3vh;
    height: 10vh;
    display: grid;
    grid-template-columns: 0% 100%;
    position: fixed;
    top: 0;
    width: 50%;
    opacity: 1;
}
#TopMTitle{
    text-align: center;
    opacity: 1;
}
@media only screen and (max-width: 860px) {
    #TopMTitle{
        font-size: 28px;
    }
}
#topMLogo{
    height: 5vh;
    margin-top: 3vh;
    opacity: 1;
}
#logIn{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 13vh;  
}
.type{
    height: 5vh;
    display: block;
    margin-bottom: 1vh;
    border-radius: 8px;
    border: solid grey 1px;
    background-color: black;
    color: white;
    font-size: large;
    width: 100%;
}
.type::placeholder{
    color: white;
    font-size: 22px;
    transition: 0.5s;
    
}
.type:focus{
    border: #389941 solid 2px;
    outline: none;
}
.type:focus::placeholder{
    font-size: large; 
}
button{
    display: block;
}
#profilePop{
    background-color: red;
    top: 30%;
    left: 30%;
    height: 60vh;
    width: 40%;
    position: absolute;
    display: none;
}
#personalProfile{
    display: none;
}
