body{
    margin: 0;
    background-color: black;
}
.container{
    margin: 0px;
    color: white;
    background-color: black; 
    max-width: 1450px;
    width: 100%;
}
*{
    color: white;
    font-family: helvetica;
}
#main{
    display: flex;
    height: 160vh;
    max-width: 1450px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#mid{
    background-color: black;
    border-left: solid #2f3336 1px;
    border-right: solid #2f3336 1px;
    width: 650px;
    z-index: 2;
    height: 100%;
}
.sideLeft{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 375px;
    width: fit-content;
}
.sticky{
    position: sticky;
    top: 0;
}
.sideLeft > div, #topMLogo, #quackLarge{
    text-decoration: none;
    width: fit-content;
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    border-radius: 25px;
    font-weight: 750;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-family: helvetica;
    cursor: pointer;
}
#topMLogo{
    height: 50px;
    border-radius: 30px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#topMLogo:hover{
    background-color: #181818;
}
.sideLeft > div:hover{
    background-color: #181818;
}
.sideLeft img{
    height: 30px;
    margin-right: 15px;
}
.sideRight{
    max-width: 375px;
    width: 30%;
    display: flex;
    height: 500px;
    flex-direction: column;
}
.sideRight img{
    height: 20px;
    margin-left: 5px;
}
#searchInput{
    outline: none;
    border: none; 
    color: white;
    background: none;
    width: 90%;
}
#searchInput::placeholder{
    color: #71767b;

}
#searchbar{
    margin-top: 5px;
    margin-left: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 40px;
    background-color: #202327;
    border: solid transparent 1px;
}
#greenSearch{
    display: none;
}
#searchbar:focus-within{
    border: solid #389941 1px;
    background-color: black;
}
#searchbar:focus-within #greenSearch{
    display: block;
}
#searchbar:focus-within #greySearch{
    display: none;
}
#toFollow{
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 25px;
    width: 90%;
    background-color: #202327;
    height: 500px;
}
#quackLarge{
    width:85%;
    display: flex;
    justify-content: center;
    background-color: #389941;
    border: none;
    border-radius: 20px;
    height: 40px;
}
#quackLargeQ{
    display: none;
}
#topM{
    backdrop-filter: blur(4px);
    border-bottom: solid  #2f3336 1px;
    font-family: helvetica;
    font-size: 20px;
    height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0,0.90);
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}
#TopMTitle{
    margin: 0px;
    text-align: start;
    font-size: 21px;
    padding-left: 15px;
    padding-top: 15px;
}
#TopMTitleHold{
    margin: 0px;
    text-align: start;
    font-size: 30px;
    opacity: 1;
    width: 100%;
    height: 50%;
}
#topMTweet{
    height: 60px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0,0.90);
    backdrop-filter: blur(4px);
}
#topMTweet #topMtitleHold{
    display: flex;
    align-content: center;
}
#topMTweet img, #topMTweet a{
    height: 40px;
    align-self: center;
}
#topMTitleHoldTweet{
    display: flex;
    align-items: center;
    justify-content: center;
}
#topMTitleTweet{
    font-size: 20px;
    margin: 0px;
}
.quacksUsernameAtReply{
    margin-left: 15px;
    width: calc(100% - 64px);
}
.quacksUsernameAtReply{
    display: flex;
    flex-direction: column;
}
.quacksAtReply{
    margin: 0px;
    color: #71767b;
    margin-top: 5px;
}
.quacksInsideReply{
    margin-top: 15px;
    width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
}

#topProfile{
    backdrop-filter: blur(4px);
    border-bottom: solid  #2f3336 1px;
    font-family: helvetica;
    font-size: 13px;
    height: 60px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0,0.90);
    cursor: pointer;
    z-index: 1;
    display: flex;
}
#topProfile  img, #topProfile a{
    height: 40px;
    align-self: center;
}
#profileName{
    margin: 0px;
    font-size: 20px;
}
#topInnerProfile{
    display: flex;
    width: 100%-15px;
    flex-direction: column;
    padding-left: 15px;
    align-self: center;
}
#topInnerProfile > h2, #topInnerProfile > p {
    width: 100%;
    margin: 0px;
}
#topQuacks{
    color: #515458;
}
#profileMid{
    border-bottom: solid #2f3336 1px;
    width: 100%;
    height: fit-content;
}
#profileBanner{
    height: 200px;
    background-color: grey;
    width: 100%;
}
#rightFollow, #editProfile{
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
#editProfile{
    display: none;
}
#rightFollowContainer{
    width: 100%;
    display: flex;
    justify-content: end;
}
#profileInfo{
    height: fit-content;
    width: 100%;
    margin: 0px;
}
#profileInfoContainer{
    margin-left: 15px;
    width: 100%-15px;
}
#profileInfo  h2{
    font-size: 18px;
}
#atProfile{
    color: #71767b;
}
#bio{
    margin-top: 20px;
}
#username{
    margin: 0px;
    margin-bottom: 4px;
}
#followingFollowers{
    display: flex;
    margin-top: 10px;
}
#profilePicture{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: -123px;
    margin-bottom: 20px;
}
.amountF{
    margin-right: 5px;
    font-size: 14px;
}
.fF{
    color: #71767b;
    margin-right: 10px;
    font-size: 14px;
}
#quacksReplies{
    height: 70px;
    display: flex;
    width: 100%;
}
#quacksReplies > div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
}
.quacksRepliesInner{
    width: 20%;
    text-align: center;
    font-weight: bold;
}
#quacksReplies > div:hover{
    background-color: #181818;
}
#quacks{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    
}
#quacks > div{
    padding-left: 10px;
    padding-top: 8px;
    height: fit-content;
    border-bottom: #181818 solid 1px;
    cursor: pointer;
}
.quacksContainer{
    display: flex;
    width: 100%;
}
.quacksContainer img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 0px;
}
.quacksUsernameAt{
    margin-left: 14px;
    width: calc(100% - 64px);
}
.quacksUsernameAt > div{
    display: flex;
}
.quacksUsername:hover{
    text-decoration-line: underline;
}
.quacksUsername{
    font-weight: bold;
}
.quacksAt{
    color: #71767b;
    margin-left: 5px;
}
/* får .quacksInside teksten ikke til å gå utafor diven men gå til en ny linje */
.quacksInside{
    margin-top: 8px;
    width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
    
}
.quacksBottom{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.quacksBottom img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    align-self: center;
}
.quacksBottom > div{
    display: flex;
    width: 25%;
    justify-content: center;
}
.likes, .replies{
    align-self: center;
}
#foryouFollowing{
    display: flex;
    width: 100%;
    height: 50%;
}
#foryouFollowing > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    transition: 0.3s;
    font-size: 15px;
}
#foryouFollowing > div:hover{
    background-color: #181818;
}
#searchSide{
    display: none;
}
#following{
    color: #71767b;
}
@media only screen and (max-width: 1010px) {
    .sideRight{
        display: none;
    }
    #searchSide{
        display: flex;
    }#main{
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        width: 100%;
    }
    #mid{
        width: 900px;
    }
}
@media only screen and (max-width: 1334px) {
    #quackLarge > div > div{
        display: block;
    }
    .sideLeft > div > div{
        display: none;
    }
    .sideLeft > div, #topMLogo, #quackLarge img{
        color: white;
        text-decoration: none;
        width: fit-content;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        transition: 0.5s;
        border-radius: 25px;
        font-weight: 750;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
    }
    #quackLargeQuack{
        display:none;
    }
    #quackLargeQ{
        display: block;
    }
    #quackLarge{
        width:25px;
        display: flex;
        justify-content: center;
        background-color: #389941;
        border: none;
        border-radius: 35px;
        height: 45px;
    }
    .sideLeft img{
        height: 30px;
        margin-right: 0px;
    }
    .sideLeft{
        max-width: 375px;
    }
    #mid{
        width: 800px;
    }
    .sideLeft > #topMLogo{
        margin-bottom: 5px;
        margin-top: 10px;
    }
}
#logIn{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 13vh;  
}
.type{
    height: 5vh;
    display: block;
    margin-bottom: 1vh;
    background-color: black;
    color: white;
    font-size: 2.5vh;
    width: 100%;
    border: solid 1px transparent;
}
.type::placeholder{
    color: white;
    font-size: 2.5vh;
    transition: 0.5s;
}
.type:focus{
    border: #389941 solid 1px;
    outline: none;
}
.in{
    display: block;
    width: 100%;
    background-color: #389941;
    border: none;
    border-radius: 3vh;
    color: white;
    font-weight: bold;
    height: 6vh;
    font-size: 2.5vh;
    transition: 0.3s;
}
.in:hover{
    background-color: #2fb83d;
}
#profilePop{
    background-color: black;
    width: 100%;
    display: none;
    border-bottom: #657786 solid 1px;
}
#profilePop img{
    height: 4vh;
}
#personalProfile{
    display: none;
}
#quack{
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;
    width: 100%;
    border-bottom: #2f3336 solid 1px;
}
#quack > div{
    width: 70%;
}   
#quackL{
    margin-top: 10px;
    background-color: #389941;
    border: none;
    border-radius: 15px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 17px ;
}
#quackT{
    background-color: black;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: #389941 solid;
    outline: none;
    color: white;
    font-size: 20px;
}